<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head_defaults.html" %}
        <title>Delete emails BULK</title>
    </head>
    <body>
        <h1>Delete emails BULK</h1>
        {{ uploadedFile }}
        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'delete_emails' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>
                enter emails (one per line)<br />
                {{ form.mailsfield }}
            </p>
            <p><input type="submit" value="Upload"/></p>


            {% if errors %}
                <h1 class="alert alert-danger">total errors: {{ errors|length }}</h1>
            {% endif %}
            {% for err in errors %}
                <div class="alert alert-danger">{{ err }}</div>
            {% endfor %}

            {% if deleted %}
                <h1 class="alert alert-success">total successful deleted emails: {{ deleted|length }}</h1>
            {% endif %}
            {% for del in deleted %}
                <div class="alert alert-success">{{ del }}</div>
            {% endfor %}
        </form>
    </body>
</html>