<!DOCTYPE html>
<html lang="de">
    <head>
        {% load staticfiles %}
        {% include "head_defaults.html" %}
    </head>
    <body>
        {% include 'navbar.html' %}

        <div id="mainContainer" class="container-fluid">
            <form style="margin-top:60px">
              {% csrf_token %}
              {{ form }}
            <button id="submit">Submit</button>
            </form>

            <div class="table-responsive">
                <table id="results" class="table table-striped tablesorter tableAuto">
                    <thead>
                        <tr>
                          <th>Chaos Number</th>
                          <th>Full Name</th>
                          <th>Address</th>
                          <th>Country</th>
                          <th>Account Balance</th>
                          <th>Active Member</th>
                          <th>Erfa</th>
                          <th>Emails</th>
                          <th>Functions</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>


        <script type="text/javascript" src="{%  static 'js/jquery.tablesorter.js' %}"></script>
        <script src="{% static 'js/load_search_results.js' %}?v=2"></script>

        <!-- needed for other navbar interaction -->
        <script src="{%  static 'js/request_helper.js' %}"></script>
        <script src="{%  static 'js/content_view.js' %}?v=1"></script>
    </body>
</html>
